<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset= "UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Quiz Application</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

   <link rel="stylesheet" href="https://stackpath.bootstrapedn.com/bootstrap/5.3.0-alphal/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA050M1iAEQ17(SuDqnUK2+k91uXQ0fXJCJ4I"
          crossorigin="anonymous">
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body id="page-top">

<!-- Navigation -->
    <div>
    <a class="navbar-brand js-scroll-trigger" th:href="@{/}">Quiz Application - pick options</a>
    </nav>
    </div>
<br>


<br>

   <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<form action="#" th:action="@{/select}" th:object="${gameOptions}" method="post">
    <div class="form-row">
        <div class="form-group">
            <h4>Questions:</h4>
            <label for="numberOfQuestionsInput">Number: </label>
            <input class="form-control" name="numberOfQuestionsInput" id="numberOfQuestionsInput" placeholder="Enter value less than or equal to 20" th:field="*{numberOfQuestions}"
                   type="number" min="1" max="20" step="1" />
        </div>
    </div>

    <div class="form-group">
        <h4>Difficulty:</h4>
        <th:block th:each="difficulty : ${T(quiz1.frontend.Difficulty).values()}">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="difficultyRadioOptions"
                       th:id="'difficulty_' + ${difficulty}" th:value="${difficulty}" th:field="*{difficulty}">
                <label class="form-check-label" th:for="'difficulty_' + ${difficulty}"
                       th:text="${difficulty}"></label>
            </div>
        </th:block>
    </div>

    <div class="form-row">
        <div class="form-group">
            <h4>Category:</h4>
            <th:block th:each="category : ${categories}">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="categoryRadioOptions"
                           th:id="'category_' + ${category.getId()}" th:value="${category.getId()}" th:field="*{categoryId}">
                    <label class="form-check-label" th:for="'category_' + ${category.getId()}"
                           th:text="${category.getName()}">
                    </label>
                </div>
            </th:block>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Play!</button>
        </div>
    </div>
</form>


<section id="contact" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p class="lead">If you'd like to contact page author, feel free to <a href="mailto:kunokitsing">Mail Me!</a>!</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; KunoWeb <span th:text="${#dates.year(#dates.createNow())}"></span>. Template by <a href="https://startbootstrap.com/templates/scrolling-nav/">Start Bootstrap</a></p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous">
<!-- Core theme JS-->
<script src="js/scripts.js">

</script>

</body>
</html>